* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: Roboto;
    padding: 10px;
    justify-content: space-evenly;

}

.header-logo {
    color: #F9FAF8;
    display: flex;
    margin-left: 100px;
    margin-right: auto;
}

.links { 
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    gap: 25px;
    font-size: 18px;

}
.links a{
    color: #E5E7EB;
    text-decoration: none;
}

.one {
    background-color: #1F2937;
    display: flex;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    text-align: left;
}

.placeholder-image {
    display: flex;
}
.about {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.disc {
    font-size: 18px;
    color: #E5E7EB;
}
.two {
    display: flex;
    
}

.three {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;

}
.four {
    background-color: #3882F6;
}